beautifulsoup4==4.9.3
fastapi==0.63.0
geojson_pydantic==0.2.2
lxml==4.5.1
matplotlib==3.3.3
numpy==1.19.4
Owlready2==0.28
pathos==0.2.7
pydantic==1.7.3
python-multipart==0.0.5
rasterio==1.2.0
scikit-fuzzy==0.4.2
scikit-image==0.18.1
scipy==1.5.2
Shapely==1.7.1
uvicorn==0.13.3
